# Arquivos compactados e cópias locais
*.zip
*.rar
*.7z

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Configurações locais de editores
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.temp
*.log
~$*
